@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internetes alkalamzás fejlesztés I. II. 2023/24/2</title>
    <link rel="stylesheet" href="~/css/part.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet" />
</head>
<body>
    <main>
        <div id="topContent">
            <div id="left">
                <h1>
                    Párt neve
                </h1>
                <h2>Összes eddigi indulója: xxxxx db</h2>
            </div>

            <div id="right">
                <div id="table">
                    <div id="part_table">
                        <table style="width:100%">
                            <tr>
                                <th>Indulási évek</th>
                                <th>Országos eredmény (%)</th>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Ipsum</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Ipsum</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Ipsum</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="table">
            <div id="korabbi_table">
                <table style="width:100%">
                    <tr>
                        <th>Induló neve</th>
                        <th>Terület</th>
                        <th>Szavazatot kapott</th>
                        <th>Országos lista</th>
                        <th>Utoljára nyert</th>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                        <td>dummy</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>
</html>
