* {
  margin: 0;
  padding: 0;
  font-family: "Inria Serif", serif;
}

body {
  background-color: #eaeade;
}

main {
  display: flex;
  flex-direction: column; 
  gap: 5rem;
  height: auto;
  margin-bottom: 5rem;
}

#topContent{
    display:flex;
    flex-direction:row
}

footer p {
  width: fit-content;
  margin: auto;
}

#left {
  margin-left: 5rem;
  width: 100%;
}

@media (max-width: 1240px) {
  #left {
    margin-left: 0;
    width: auto;
  }
}

#left h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;

  font-size: 4.5rem;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1240px) {
  #left h1 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  
    font-size: 4.5rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  #left h2 {
    text-align: center;
  }
}

#left h2 {
  margin-bottom: 5rem;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 35em;
  margin-top: 5em;
  margin-bottom: auto;
  margin-right: 5em;
  background-color: #729a94;
  border-radius: 1rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
  box-shadow: 0px 3px 15px 1px #9c9c9c;
}

@media (max-width: 1240px) {
  #right {
    margin-top: 0;
    margin-bottom: auto;
    margin-right: 0;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 720px) {
  #right {
    width: 20rem;
  }
}

#right .head {
  display: flex;
  flex-direction: column;
}

#right .head .lines {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 1rem;
  margin: 0.65rem auto 1.25rem auto;
}

#right .head .lines span {
  display: block;
  height: 0.15rem;
  background-color: #fafafa;
  border-radius: 5rem;
}

#right .head .lines .line {
    width: 15rem;
}

#right .head .lines .circle {
    width: .5rem;
    height: .5rem;
}

@media (max-width: 720px) {
  #right .head {
    display: flex;
    flex-direction: column;
  }
  
  #right .head .lines {
    /* background-color: #fafafa; */
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
    margin: 0.65rem auto 1.25rem auto;
  }
  
  #right .head .lines span {
    display: block;
    height: 0.15rem;
    background-color: #fafafa;
    border-radius: 5rem;
  }
  
  #right .head .lines .line {
      width: 8rem;
  }
  
  #right .head .lines .circle {
      width: .5rem;
      height: .5rem;
  }
}

#right #title_holder {
  width: 100%;
  margin-top: 1rem;
  margin-top: 1rem;
}

#right #title_holder #megye_title {
  color: #eaeade;
  
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

@media (max-width: 720px) {
  #right #title_holder #megye_title {
    width: 12rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}


#right #megye_selector {
  display: inline;
}

#right #megye_selector select {
  padding: 1rem;
  color: #000000;
  background-color: #aabaa8;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  box-shadow: 0px 3px 15px 1px #2b2b2b;

}

#right #megye_selector select {
  position: relative;
}

#right #csoportok {
  background-color: #aabaa8;
  color: #0d2724;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid transparent;
  table-layout: auto;
}


th, td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

tr td, tr th {
  border-right: 3px solid #eaeade; 
  border-bottom: 3px solid #eaeade; 
}

tr th {
  border-bottom: 6px solid #eaeade; 
  font-size: 1.2rem;
}

tr td:last-child, tr th:last-child {
  border-right: none;
}

tr:last-child td, tr:last-child th {
  border-bottom: none;
}

#korabbi_table {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  gap: 1rem;
  margin-right: 2.2em;
  margin-left: 2.2em;
  padding: 2rem 3rem 2rem 3rem;

  color: #eaeade;
  background-color: #aabaa8;
  border-radius: 1rem;

  font-size: 1.2rem;
  text-align: center;
}
