
@{
    ViewData["Title"] = "Csapatok";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internetes alkalamzás fejlesztés I. II. 2023/24/2</title>
    <link rel="stylesheet" href="/css/csapatok.css"/>
    <!-- Ide jön a css file -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />
</head>
<body>
    <main>
        <h1>Projekten dolgozó csapatok</h1>

        <div class="team">
            <div class="head">
                <p>Frontend</p>

                <div class="lines">
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="names">
                <p>Ispánki Dávid Simon</p>
                <p>Yesilöz Erkam</p>
                <p>Schneider Péter</p>
            </div>
        </div>

        <div class="team">
            <div class="head">
                <p>Backend</p>

                <div class="lines">
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="names">
                <p>Jánosik Adrián Balázs</p>
                <p>Miticzky Máté</p>
            </div>
        </div>

        <div class="team">
            <div class="head">
                <p>Mesterséges inteligencia</p>

                <div class="lines">
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="names">
                <p>Belle Dániel</p>
                <p>Mihályi Dorián</p>
            </div>
        </div>

        <div class="team">
            <div class="head">
                <p>Adatbázis</p>

                <div class="lines">
                    <span class="line"></span>
                    <span class="circle"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="names">
                <p>Meszes Bálint</p>
                <p>Kocsis Szabina</p>
            </div>
        </div>
    </main>
</body>
</html>


