<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internetes alkalamzás fejlesztés I. II. 2023/24/2</title>
    <link rel="stylesheet" href="~/css/kovetkezo.css" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />
</head>
<body>
    <main>
        <div id="topContent">
            <div id="left">
                <h1>
                    Ki fog nyerni a<br />
                    következőn?
                </h1>
                <h2>Megyénkénti felosztásban</h2>
            </div>

            <div id="right">
                <div id="title_holder">
                    <div id="megye_title">
                        Szabolcs-Szatmár-Bereg vármegye
                    </div>
                </div>
                <div class="head">
                    <div class="lines">
                        <span class="line"></span>
                        <span class="circle"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div id="megye_selector">
                    <select>
                        <option value="">Válassz megyét</option>
                        <option value="bacs">Bács-Kiskun megye</option>
                        <option value="baranya">Baranya megye</option>
                        <option value="bekes">Békés megye</option>
                        <option value="borsod">Borsod-Abaúj-Zemplén megye</option>
                        <option value="budapest">Budapest</option>
                        <option value="csongrad">Csongrád-Csanád megye</option>
                        <option value="fejer">Fejér megye</option>
                        <option value="gyor">Győr-Moson-Sopron megye</option>
                        <option value="hajdu">Hajdú-Bihar megye</option>
                        <option value="heves">Heves megye</option>
                        <option value="jasz">Jász-Nagykun-Szolnok megye</option>
                        <option value="nograd">Nógrád megye</option>
                        <option value="pest">Pest megye</option>
                        <option value="somogy">Somogy megye</option>
                        <option value="szabolcs">Szabolcs-Szatmár-Bereg megye</option>
                        <option value="tolna">Tolna megye</option>
                        <option value="vas">Vas megye</option>
                        <option value="veszprem">Veszprém megye</option>
                        <option value="zala">Zala megye</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="table">
            <div id="korabbi_table">
                <table style="width:100%">
                    <tr>
                        <th>Induló neve</th>
                        <th>Terület</th>
                        <th>Induló pártja</th>
                        <th>Szavazatot kap (db)</th>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>is</td>
                        <td>simply</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
 </body>
</html>
